/*#ffff00*/

[data-bs-theme="vividyellow"] .navbar.navbar-dark.bg-primary.px-3 {
	background-color: #ffff00;
}

[data-bs-theme="vividyellow"] .btn.btn-primary {
	background-color: #ffff00;
}

	[data-bs-theme="vividyellow"] .btn.btn-primary.ms-2 {
		background-color: #ffff00;
	}

	[data-bs-theme="vividyellow"] .btn.btn-primary.w-100 {
		background-color: #ffff00;
	}
