/*#ff00ff*/

[data-bs-theme="vividpink"] .navbar.navbar-dark.bg-primary.px-3 {
    background-color: #ff00ff;
}

[data-bs-theme="vividpink"] .btn.btn-primary {
    background-color: #ff00ff;
}

    [data-bs-theme="vividpink"] .btn.btn-primary.ms-2 {
        background-color: #ff00ff;
    }

    [data-bs-theme="vividpink"] .btn.btn-primary.w-100 {
        background-color: #ff00ff;
    }
