/*下端に余白*/
.body{
    margin-bottom:20px;
}

/* ナビバー影 */
.navbar {
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* メニュー位置 */
.menu-box {
    position: relative;
}

/* ボタン */
.menu-btn {
    cursor: pointer;
    color: white;
    font-size: 22px;
}

/* メニュー本体 */
.menu-list {
    position: absolute;
    right: 0;
    top: 45px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    min-width: 180px;
    display: none;
    z-index: 1000;
}

    /* メニュー項目 */
    .menu-list a {
        display: block;
        padding: 12px;
        color: black;
        text-decoration: none;
    }

        .menu-list a:hover {
            background: #0d6efd;
            color: white;
        }
        

/* ふわっと表示 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.toggle-button-4 {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    box-sizing: content-box;
    background-color: #f2e01c33;
    cursor: pointer;
    transition: background-color .4s;
}

    .toggle-button-4:has(:checked) {
        background-color: #1c3d5e33;
    }

    .toggle-button-4::before {
        position: absolute;
        left: 5px;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #f2e01c;
        content: '';
        transition: left .4s;
    }

    .toggle-button-4:has(:checked)::before {
        left: 50px;
        background-color: #1c3d5e;
    }

    .toggle-button-4::after {
        position: absolute;
        left: 26px;
        transform: translateX(-50%);
        color: white;
        font-weight: 600;
        font-size: .9em;
        content: 'Light';
        transition: left .4s;
    }

    .toggle-button-4:has(:checked)::after {
        left: 71px;
        content: 'Dark';
        color: #0d6efd;
    }

    .toggle-button-4 input {
        display: none;
    }

    /*テーマカラーボタン*/
.theme-btn {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}

    .theme-btn:hover {
        opacity: 0.8;
    }
.btn, .form-control, .form-select, .box {
    border-radius: 12px !important; 
}
input[type="file"]::file-selector-button {
    border-radius: 10px;
    margin-right: 10px;
}