/* darkmode.css */
[data-bs-theme="dark"] body {
    background-color: rgba(13, 110, 253, 0.25) !important; 
    color: #e9ecef !important; 
}

[data-bs-theme="dark"] .form-card {
    background-color: #161b22 !important; 
    border: 1px solid #30363d; 
}

[data-bs-theme="dark"] #fontSelect.form-select {
    background-color: #1c3d5e !important;
}

[data-bs-theme="dark"] .form-control,
[data-bs-theme="dark"] .form-select {
    background-color: #0d1117 !important;
    color: #ffffff !important;
    border: 1px solid #1c3d5e !important;
}

[data-bs-theme="dark"] .form-control:focus {
        background-color: #0d1117 !important;
        border-color: var(--main-theme-color) !important;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

[data-bs-theme="dark"] .container {
    background-color: rgba(13, 110, 253, 0.25) !important;
}

    [data-bs-theme="dark"] .container.mt-4 {
        background-color: rgba(13, 110, 253, 0.25) !important;
    }

[data-bs-theme="dark"] .summary-card {
    background-color: #2171a4 !important;
}

[data-bs-theme="dark"] .col-md-2 {
    background-color: #161b22 !important;
    color: #e9ecef !important;
}

[data-bs-theme="dark"] .table.table-hover.align-middle {
    color: #2171a4 !important;
}

[data-bs-theme="dark"] .summary-label {
    color: #e9ecef !important;
}

[data-bs-theme="dark"] #totalIncome.summary-value {
    color: #e9ecef !important;
}

[data-bs-theme="dark"] #totalExpense.summary-value {
    color: #e9ecef !important;
}

/*[data-bs-theme="dark"] .btn.btn-primary.w-100 {
    background-color: #ff6a00 !important;
    color: #e9ecef !important;
}

[data-bs-theme="dark"] .btn.btn-primary.ms-2{
    background-color: #ff6a00 !important;
}*/

[data-bs-theme="dark"] .box {
    background-color: #2171a4 !important;
}


[data-bs-theme="dark"] .pieChart {
    color: #e9ecef !important;
}