body {
    background: #f5f7fa;
}

/* タイトル */
.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    font-family: "Times New Roman", cursive;
    transform: scaleY(1.05); /* 文字そのものを縦に伸ばす */
}

    .title::first-letter {
        font-size: 50px;
        letter-spacing: -0.15em;
    }

    
span {
    font-size: 32px;
    /* 幅を縦長にする*/
    display: inline-block; /* scaleを使うにはブロック要素化が必要 */
    transform: scaleY(1.58); /* 文字そのものを縦に伸ばす */
    vertical-align: 0.18em; /* 数値を調整して上に持ち上げる */

}

span2 {
    font-size: 50px;
    letter-spacing: -0.03em;
    /* K の文字幅広いので幅を変える*/
    display: inline-block; /* scaleを使うにはブロック要素化が必要 */
    transform: scaleX(0.9); /* 文字そのものを横に0.8倍に縮める */
}
    

    /* フォーム中央寄せ */
    .wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

/* カード */
.form-card {
    width: 900px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}