/*#ff7f7f*/
[data-bs-theme="pastelred"] .navbar.navbar-dark.bg-primary.px-3 {
	background-color: #ff7f7f;
}

[data-bs-theme="pastelred"] .btn.btn-primary {
	background-color: #ff7f7f;
}

	[data-bs-theme="pastelred"] .btn.btn-primary.ms-2 {
		background-color: #ff7f7f;
	}

	[data-bs-theme="pastelred"] .btn.btn-primary.w-100 {
		background-color: #ff7f7f;
	}
